body {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../image/nav-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  color: #333333;
  margin-top: 7rem;
  font-family: Cambria;
}

.navbar-brand {
  font-weight: bold;
  color: red;
  border: 1px solid;
  border-image-source: linear-gradient( white, aqua);
  border-image-slice: 1;
  padding: 5px 10px;

}

#left-nav li{
  color: white;
  margin: 5px;
  width: 100%;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, white,aqua);
  border-image-slice: 20 ;
}


#right-nav li{
  color: white;
  margin: 5px;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, white,aqua);
  border-image-slice: 20 ;
}

.nav-item a{
  color:white;
}


.info-container{
  border-bottom: 1px solid lightgrey;
}


.content-section {
  background: #b6d4fe;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 15px 20px;

}

.article-title {
  color: red;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  margin-left: 70px;
  border-bottom: 1px solid #e3e3e3;

}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



.info{
  width: 90%;
  position: relative;
  left: 70px;
  bottom: 50px;
}


.author{
  color: black;
  width:100px;
  padding: 20px;
  text-decoration: none;

}

.date{
  float: right;
  margin-right: 20px;
}

.img {
  width: 70px;
}