{% load static %}
<html lang="">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% if title %}
    <title>Musafir Muslim - {{ title }}</title>
    {% else %}
    <title>Musafir Muslim</title>
    {% endif %}
</head>
{% block content %}
            {% endblock %}
<body>
{% include 'mywebapp/header.html' %}
<main class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>